<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
      
      <ui:include src="../facelets/menu.xhtml" />     
      <a4j:region id="region">
            <rich:extendedDataTable value="#{buyerBean.buyers}"
                var="buyer" binding="#{buyerBean.dataTable}"
                selection="#{buyerBean.selection}"
                selectionMode="single"
                rows="#{buyerBean.rows}"
                id="table">
                <f:facet name="header">
                    <h:outputText value="Buyers" />
                </f:facet>
                <rich:column sortable="true" label="Name" id="col_1" sortBy="#{buyer.name}">
                    <f:facet name="header">
                        <h:outputText value="Name" />
                    </f:facet>
                    <h:outputText value="#{buyer.name}" id="name" />
                </rich:column>
                <rich:column sortable="true" label="Surname" id="col_2" sortBy="#{buyer.surname}" >
                    <f:facet name="header">
                        <h:outputText value="Surname" />
                    </f:facet>
                    <h:outputText value="#{buyer.surname}" id="surname" />
                </rich:column>
                <rich:column sortable="true" label="Email" id="col_3" sortBy="#{buyer.email}">
                    <f:facet name="header">
                        <h:outputText value="Email" />
                    </f:facet>
                    <h:outputText value="#{buyer.email}" id="email" />
                </rich:column>
                <rich:column sortable="true" label="City" id="col_4" sortBy="#{buyer.city}">
                    <f:facet name="header">
                        <h:outputText value="City" />
                    </f:facet>
                    <h:outputText value="#{buyer.city}" id="city" />
                </rich:column>
                
                <rich:column>
                    <f:facet name="header">
                         <h:outputText value="Actions" />
                </f:facet>
                    <a4j:commandLink ajaxSingle="true" id="editlink"
                        reRender="region" actionListener="#{buyerBean.edit}">
                        <h:graphicImage value="/images/edit.gif" style="border:0" />
                        
                    </a4j:commandLink>
                    <rich:toolTip for="editlink" value="Edit" />
                    <a4j:commandLink ajaxSingle="true" id="deletelink"
                        reRender="region" actionListener="#{buyerBean.delete}">
                        <h:graphicImage value="/images/delete.gif" style="border:0" />
                    </a4j:commandLink>
                    <rich:toolTip for="deletelink" value="Delete" />
                </rich:column>
            </rich:extendedDataTable>
        </a4j:region>

</ui:composition>