<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<ui:include src="../facelets/menu.xhtml" />
	<rich:panel style="width:500px">
		<f:facet name="header">
			<h:outputText value="${msg['buyer.new.label.title']}" />
		</f:facet>
		<a4j:form>
			<h:messages style="color:red;margin:8px;"/>
			<h:panelGrid columns="2">
				<h:outputLabel value="${msg['buyer.new.label.name']}" for="name" />
				<h:inputText label="${msg['buyer.new.label.name']}" id="name" required="true" value="#{createBuyerBean.name}" />
				
				<h:outputLabel value="${msg['buyer.new.label.surname']}" for="surname" />
				<h:inputText label="${msg['buyer.new.label.surname']}" id="surname" required="true" value="#{createBuyerBean.surname}" />

				<h:outputLabel value="${msg['buyer.new.label.email']}" for="email" />
				<h:inputText label="${msg['buyer.new.label.email']}" id="email" required="true" value="#{createBuyerBean.email}" />

				<h:outputLabel value="${msg['buyer.new.label.street']}" for="street" />
				<h:inputText id="street" required="false" value="#{createBuyerBean.street}" />

				<h:outputLabel value="${msg['buyer.new.label.houseNumber']}" for="houseNumber" />
				<h:inputText id="houseNumber" required="false" value="#{createBuyerBean.houseNumber}" />

				<h:outputLabel value="${msg['buyer.new.label.city']}" for="city" />
				<h:inputText id="city" required="false" value="#{createBuyerBean.city}" />

				<h:outputLabel value="${msg['buyer.new.label.postCode']}" for="postCode" />
				<h:inputText id="postCode" required="false" value="#{createBuyerBean.postCode}" />
			</h:panelGrid>
			<h:commandButton value="${msg['buyer.new.save']}" action="#{createBuyerBean.save}" />
			<h:commandButton value="${msg['buyer.new.cancel']}" action="#{createBuyerBean.cancel}" immediate="true"/>
		</a4j:form>
	</rich:panel>
</ui:composition>