<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<ui:include src="../facelets/menu.xhtml" />

	<a4j:form>
		<rich:panel>
			<rich:layout>
				<rich:layoutPanel position="left" width="25%">
					<rich:tree style="width:300px;height:600px"
						nodeSelectListener="#{productCatalogBean.processSelection}"
						ajaxSubmitSelection="true" switchType="client"
						value="#{productCatalogBean.treeNode}" var="item"
						reRender="center" ajaxKeys="#{null}">
					</rich:tree>
				</rich:layoutPanel>
				<rich:layoutPanel id="center" position="center" width="75%">
					<ui:repeat value="#{productCatalogBean.products}" var="product">
						<rich:panel id="prod_#{product.entityId}">
							<f:facet name="header">
								<h:outputText value="#{product.name}" />
							</f:facet>
							<h:panelGrid columns="2">
								<h:outputLabel value="${msg['product.price']}"
									for="price_#{product.entityId}" />
								<h:outputText id="price_#{product.entityId}"
									value="#{product.price}" />
								<h:outputLabel value="${msg['product.quantity']}"
									for="qnty_#{product.entityId}" />
								<h:outputText id="qnty_#{product.entityId}"
									value="#{product.quantity}" />
								<h:outputLabel value="${msg['product.serial']}"
									for="serial_#{product.entityId}" />
								<h:outputText id="serial_#{product.entityId}"
									value="#{product.serialNumber}" />
							</h:panelGrid>
							<ul>
								<ui:repeat value="#{product.productFeatures}" var="features">
									<li><h:outputText value="#{features.name}" /></li>
								</ui:repeat>
							</ul>
						</rich:panel>
					</ui:repeat>
				</rich:layoutPanel>
			</rich:layout>
		</rich:panel>
	</a4j:form>
</ui:composition>