<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<h:form>
		<rich:toolBar>
			<rich:dropDownMenu>
				<f:facet name="label">
					<h:panelGroup>
						<h:outputText value="#{msg['menu.buyer']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem submitMode="server" value="#{msg['menu.buyer.add']}"
					action="#{menuBean.doNew}">
				</rich:menuItem>
				<rich:menuItem submitMode="server" value="#{msg['menu.buyer.list']}"
					action="#{menuBean.doList}" />
			</rich:dropDownMenu>

			<rich:dropDownMenu>
				<f:facet name="label">
					<h:panelGroup>
						<h:outputText value="#{msg['menu.product']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem submitMode="server" value="#{msg['menu.product.catalog']}"
					action="#{menuBean.doProductCatalog}" />
			</rich:dropDownMenu>
			
			<rich:dropDownMenu>
				<f:facet name="label">
					<h:panelGroup>
						<h:outputText value="#{msg['menu.configuration']}" />
					</h:panelGroup>
				</f:facet>
				
				<rich:menuGroup value="#{msg['menu.configuration.skin']}">
					<rich:menuItem submitMode="server" value="Classic" action="#{skinBean.changeSkin}" reRender="@all">
						<f:param name="newSkin" value="classic"/>
					</rich:menuItem>	
					<rich:menuItem submitMode="server" value="Wine" action="#{skinBean.changeSkin}" reRender="@all" >
						<f:param name="newSkin" value="wine"/>
					</rich:menuItem>
					<rich:menuItem submitMode="server" value="Blue Sky" action="#{skinBean.changeSkin}"  reRender="@all">
						<f:param name="newSkin" value="blueSky"/>
					</rich:menuItem>
					<rich:menuItem submitMode="server" value="Emerald Town" action="#{skinBean.changeSkin}" reRender="@all" >
						<f:param name="newSkin" value="emeraldTown"/>
					</rich:menuItem>
					<rich:menuItem submitMode="server" value="Deep Marine" action="#{skinBean.changeSkin}" reRender="@all" >
						<f:param name="newSkin" value="deepMarine"/>
					</rich:menuItem>
					<rich:menuItem submitMode="server" value="Japan Cherry" action="#{skinBean.changeSkin}" reRender="@all" >
						<f:param name="newSkin" value="japanCherry"/>
					</rich:menuItem>
					<rich:menuItem submitMode="server" value="Ruby" action="#{skinBean.changeSkin}" reRender="@all" >
						<f:param name="newSkin" value="ruby"/>
					</rich:menuItem>
				</rich:menuGroup>
				<rich:menuGroup value="#{msg['menu.configuration.language']}">
					<rich:menuItem submitMode="server" value="#{msg['menu.configuration.language.english']}" action="#{languageBean.selectEnglish}" reRender="@all" />
					<rich:menuItem submitMode="server" value="#{msg['menu.configuration.language.polish']}" action="#{languageBean.selectPolish}" reRender="@all" />
				</rich:menuGroup>
				
			</rich:dropDownMenu>
		</rich:toolBar>
	</h:form>	

</ui:composition>