<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<style>
.pic {
	margin-bottom: -4px;
	margin-right: 2px;
}

.search .rich-menu-item-hover {
	background-color: transparent;
	border-color: transparent;
}
</style>

	<ui:include src="facelets/menu.xhtml" />
	
	<rich:spacer width="1" height="5" />
	<br />
	<rich:spacer width="1" height="25" />
	<center>
		<rich:panel style="width:300px;">
			<f:facet name="header">Training JSF project</f:facet>
        	Simple JSF based project with Spring as implementation of logic and Hibernate as persistence layer.
    </rich:panel>
	</center>
</ui:composition>
